.search-box {
    display: block;

    font-size: 1.5em;

    width: 80%;
    height: 1.2em;

    margin: auto;
    padding-top: 0.3em;
    margin-bottom: inherit;
    text-align: center;
}

.submit {
    display: block;

    font-size: 1em;

    width: auto;
    height: 1.7em;

    margin: auto;
    padding-top: 0.3em;

    text-align: center;
    margin-top: 0.5em;
}

